
body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: 18px;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}

h4 {
	text-align: center;
	font-size: 24px;
}

li {
	display: inline-block;
	font-size: 12px;
	width: 100px;
	font-weight: bold;
	margin-top: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

p {
	text-align: center;
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-container {
	background: url('bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}

.bio {
	color: white;
	font-size: 14px;
}

.box {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 80px;
}

.clear {
	clear: both;
}

.contact-headline {
	color: white;
}

.contact-me {
	height: 350px;
	background-color: #202020;
	padding-top: 30px;
}

.contact-info {
	color: white;
	font-size: 13px;
	margin-top: 30px;
}

.contact-link {
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.full-width {
	width: 100%;
}

.grey {
	height: 3px;
	background-color: #919191;
	border: none;
	width: 50px;
}

.hire-me {
	border-style: solid;
	border-color: white;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.icon {
	margin: 30px 0;
}

.icons {
	text-align: center;
}

.skills-and-tools {
	max-width: 400px;
	margin: 40px auto;
}

.style18 {
	display: block;
	content: "";
	height: 30px;
	width: 250px;
	border-top: 5px double #014F21;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}
